<!DOCTYPE html><html lang="en">
<html>
<head>
  <title>RBA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'> 
  <%= csrf_meta_tags %>
</head>
<body>
	<div class=row>
	<%= render"layouts/header" %>
	
	<div class=row>
		<div class=span>
			<%=render"layouts/sidenav" %>
		<div class=span>		
			<%= yield %>
	<div class=row>			
		<%=render"layouts/footer" %>
		</div>
		</div>	
		
	</div>	
	</div>					
	

</body>
</html>



